html,
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	background-color: #0061AF;
}

h2 {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

/* Header */
#header {
	background: #004C88;
	color: #fff;
	line-height: 36px;
	padding: 0px 20px;
}

#account {
	text-align: right;
}

/* Frame */
#frame {
	min-width: 1120px;
	display: flex;
	height: 100%;
}

#menu {
	width: 160px;
	background-color: #00569B;
	color: #fff;
}

#content {
	background-color: #0061AF;
}

#action-bar {
	line-height: 40px;
	background-color: #0061AF;
	padding: 0px 20px;
}

form {
	margin: 0;
	padding: 0;
}

/* Buttons */
button {
	font-family: "Roboto", sans-serif;
	border: none;
}

button.add-button {
	width: 120px;
	margin: 6px 6px 6px 0px;
	float: left;
}

button.btn-lg {
	height: 28px;
}

button.btn-primary {
	background-color: yellow;
}

/* Inputs */
input {
	text-indent: 5px;
	padding: 0;
	margin: 0;
	border: none;
}

input.inpt-full {
	width: 100%;
}

input.inpt-lg {
	height: 28px;
}

input.inpt-sm {
	height: 24px;
}

input.inpt-form {
	margin-bottom: 6px;
}

input#search {
	margin: 6px 0px;
	background-color: #004174;
	color: #CCE2F3;
}

::-webkit-input-placeholder {
	color: #CCE2F3;
}

input#inpt-name {
	width: calc(100% - 6px);
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin: 6px 0px 6px 6px;
}

/* Lists */
ol {
	margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
}

li.menu-option {
	line-height: 36px;
}

img.icon {
	display: block;
	vertical-align: bottom;
	float: left;
	cursor: pointer;
	margin: 0 12px;
}

#create-folder {
	display: none;
	background: #e6edf2;
	height: 36px;
	line-height: 36px;
}

#browse-wrapper {
	padding-left: 20px;
}

.browse-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
}

#popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(255,255,255,.4);
	align-items: center;
    justify-content: center;
    display: none;
}

#popup-inner {
	background-color: #006cc2;
	padding: 20px;
}

#login {
	height: 100%;
	align-items: center;
    justify-content: center;
    display: flex;
}

#login-form {
    background-color: pink;
    padding: 20px;
    width: 220px;
}

#menu-wrapper {
	padding-top: 40px;
}

.menu-option {
	padding: 0px 20px;
}

#account {
	font-size: 12px;
}

#file-loading {
	display:none;
}

#file-edit {
	display:none;
}

#file-data{
	width:800px;
	height:500px;
}

.selected-menu {
	background-color: #0061AF;
}

.tile {
	cursor: pointer;
	background-color: #006cc2;
	margin-bottom: 20px;
	color: #fff;
}

.tile:hover {
	box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}

.tile-inner {
	padding: 10px;
}
