html,
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

/* Header */
#header {
	background: #004881;
	color: #fff;
	line-height: 40px;
	padding: 0px 20px;
}

#account {
	text-align: right;
}

/* Frame */
#frame {
	min-width: 1040px;
}

#menu {
	float: left;
	width: 100px;
	background-color: #eee;
	height: 100%;
}

#content {
	float: left;
	width: calc(100% - 100px);
}

#action-bar {
	line-height: 40px;
	background-color: #f8f8f8;
	padding: 0px 20px;
}

/* Buttons */
button {
	font-family: "Roboto", sans-serif;
	border: none;
}

button.add-button {
	width: 120px;
	margin: 6px 6px 6px 0px;
	float: left;
}

button.btn-lg {
	height: 28px;
}

button.btn-primary {
	background-color: yellow;
}

/* Inputs */
input {
	text-indent: 5px;
	padding: 0;
	border: none;
}

input.inpt-full {
	width: 100%;
}

input.inpt-lg {
	height: 28px;
}

input.inpt-sm {
	height: 24px;
}

input.inpt-form {
	margin-bottom: 5px;
}

input#search {
	margin: 6px 0px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input#folder-name {
	margin-top: 8px;
	height: 24px;
	width: 304px;
	margin-left: 8px;
}

/* Lists */
ol {
	margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
	line-height: 36px;
}

li.browse-item {
	list-style: none;
}

li.browse-item div {
	float: left;
}

img.icon {
	display: block;
	vertical-align: bottom;
	float: left;
	cursor: pointer;
	margin: 0 12px;
}

#create-folder {
	display: none;
	background: blue;
	height: 40px;
}

.browse-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
}

#popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	align-items: center;
    justify-content: center;
    display: none;
}

#popup-container {
	background-color: #fff;
	padding: 20px;
}

#login {
	height: 100%;
	align-items: center;
    justify-content: center;
    display: flex;
}

#login-form {
    background-color: pink;
    padding: 20px;
    width: 220px;
}

/* Colors */