html,
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

ol {
	margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
	line-height: 40px;
}

li.browse-item {
	list-style: none;
}

li.browse-item div {
	float: left;
}

#logo {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 12px;
	background: #ccc;
}

#explorer {
	margin-top: 20px;
}

#header {
	line-height: 40px;
}

#nav-bar {
	line-height: 40px;
	background: #eee;
}

#search {
	width: 320px;
	margin-top: 5px;
	height: 30px;
}

#breadcrumb {
	padding-left: 20px;
}

#action-bar {
	font-size: 12px;
	line-height: 32px;
}

img.icon {
	display: block;
	vertical-align: bottom;
	float: left;
	cursor: pointer;
	margin: 0 12px;
}

#create-folder {
	display: none;
	background: #ccc;
}

#browse-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
}