<html>
<head>
    <title>Cloud OS</title>
    <link rel="stylesheet" type="text/css" href="../css/grid.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}
</head>
<body>
<header class="header">
	<div class="container clearfix">
		<div id="breadcrumb" class="column large-8">
			Cloud OS
		</div>
		<div class="column large-5">
			&nbsp;
		</div>
		<div id="account" class="column large-3 last-column">
			bezulauf
		</div>
	</div>
</header>
{% block content %}{% endblock %}
<div id="popup">
	<div id="popup-container">
		<div id="resource-header" class="browse-header row row-no">
			<div class="column large-4">
				Name
			</div>
			<div class="column large-2">
				Type
			</div>
			<div class="column large-4 last-column">
				Author
			</div>
		</div>
		<ol id="resource-list">
		</ol>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="../js/folder.js"></script>
<script type="text/javascript" src="../js/explorer.js"></script>
<script type="text/javascript" src="../js/popup.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>